---
import ButtonIcon from "../../components/ButtonIcon.astro";
---

<div id="memories" class="relative h-[150vh] md:h-[80vh] flex items-center  justify-center">
  <div class="absolute bottom-[5%] md:bottom-0 left-[17%] md:px-0 px-12  grid md:grid-cols-2 max-w-5xl">
    <img src="/asset/memories/memories-model.webp" class="w-[400px]" alt="" />
    <div class="flex flex-col items-start  md:mt-16">
      <span class="leading-[50px] text-[40px] w-10/12 font-swash mt-16 mb-5">
        Relive the Sweet Memories of Classic<strong class="text-[#F83D8E] ml-2"
          >Ice Creams</strong
        >
      </span>
      <p class="font-medium w-2/3 mb-5">
        Relish the timeless taste of handcrafted ice cream, made with passion
        and the finest ingredients.
      </p>
      <ButtonIcon title="Explore Our Menu" />
      <div class="absolute right-[7%] top-[50%]">
        <img src="/asset/memories/triangule.webp" alt="" />
      </div>
      
    </div>
  </div>
  <div class="hidden md:absolute bottom-0 right-0">
    <img src="/asset/memories/righBottomVector.webp" alt="" />
  </div>
  <div class="absolute left-[10%] bottom-[30%]">
    <img src="/asset/memories/circle.webp" alt="" />
  </div>
  <div class="absolute top-[22%]  left-[40%] bottom-0">
    <img src="/asset/memories/doted.webp" class="w-[64px]" alt="" />
  </div>
</div>
