---
import { ArrowRight } from "lucide-react";

interface Props {
    title: string;
    img: string;
}

const { title, img } = Astro.props;
---

<div
    class="relative overflow-hidden cursor-pointer hover:opacity-70 duration-200 group transition-all max-w-[50vh] h-[50vh] rounded-[20px] flex mx-auto bg-black"
>
    <img src={img} class="w-full group-hover:scale-105 duration-200 transition-all" alt="" />
    <div class="absolute bottom-0 left-0 right-0 p-2">
        <div
            class="w-full py-3 flex items-center justify-between px-5 bg-white rounded-[20px]"
        >
            <span class="font-bold">{title}</span>
            <div class={`px-2 py-2 bg-[#F83D8E] text-white gap-6 rounded-full`}>
                <ArrowRight />
            </div>
        </div>
    </div>
</div>
