<header
  id="home"
  class="relative flex items-center overflow-hidden justify-center h-[130vh]  md:h-[117vh] bg-gradient-to-r from-[#EFD7EF] via-[#F5F9FC] to-[#F8EAE1]"
>
  
  <div class="absolute top-[12%] left-0">
    <img src="/asset/hero/leftTopImgHero.svg" class="h-[300px]" alt="" />
  </div>

  <div
    class="absolute left-[12%] top-[10%] sm:top-[8%] lg:top-[17%] grid grid-cols-2 gap-[20%] animate-slide-in-left"
  >
    <div class="flex flex-col items-start">
      <div class="flex items-center gap-3">
        <div class="px-5 py-[1px] bg-black"></div>
        <span class="font-swash text-[28px] font-bold">Welcome to the</span>
      </div>
      <h1
        class="sm:leading-[100px] leading-[60px] font-swash mb-7 mt-7 text-[60px] md:text-[102px]"
      >
        Discover<strong class="text-[#F83D8E]">Sweet</strong> Delights!
      </h1>
      <p class="font-medium w-1/8">
        Relish the timeless taste of handcrafted ice cream, made with passion
        and the finest ingredients.
      </p>
      <button
        class="px-8 w-[300px] md:w-full py-3 font-medium  bg-[#683292] hover:opacity-70 duration-300 transition text-white rounded-xl mt-5"
        >Browse Our Classic Flavors</button
      >
    </div>
  </div>

  <div class="hidden md:flex absolute bottom-[3%] right-[2%]">
    <img src="/asset/hero/Figure.svg" class="h-[580px] object-fill" alt="" />
  </div>

  <div class="absolute -bottom-8 right-0 left-0">
    <img src="/asset/hero/wave.svg" alt="" />
  </div>
</header>


