<div class="relative w-full h-[100vh] md:h-[80vh] bg-[#683292]">
    <div class="absolute md:top-[30%] left-[10%] mt-12 md:mt-2">
        <img
            src="/asset/special/special-triangle.webp"
            class="object-fill"
            alt=""
        />
    </div>
    <div class="absolute top-[88%] md:top-[62%] left-[5%]">
        <img src="/asset/special/special-doted.webp" class="" alt="" />
    </div>
    <div class="absolute top-[15%] left-[20%] flex flex-col items-start mt-24 md:mt-2">
        <h1
            class="sm:leading-[100px] w-[200px] text-white leading-[60px] font-swash mb-7 mt-7 text-[50px] sm:text-[82px]"
        >
            SUMMER SPECIAL
        </h1>
        <p class="font-medium text-white">Buy One Sundae, Get One 50% Off!</p>
        <div class="flex items-center gap-3">
            <button
                class="px-8 py-3 font-medium bg-[#F73D8E] hover:opacity-70 duration-300 transition text-white rounded-xl mt-5"
                >Get This Deal</button
            ><span class="text-white mt-4 text-sm  w-[200px]">
                Use code: SUMMER50 at checkout.
            </span>
        </div>
        <div class="hidden md:flex absolute top-[12%]  md:-right-[60%]">
            <img
                src="/asset/special/Paragraph-Background.webp"
                class="relative h-[128px]"
                alt=""
            />
            <img
                src="/asset/special/special-dotedarrow.webp"
                class="absolute -top-[27%] -right-[50%] object-fill"
                alt=""
            />
        </div>
    </div>
    <div class="absolute top-[12%] right-0">
        <img
            src="/asset/special/special-rightimage.png.webp"
            class="h-[300px]"
            alt=""
        />
    </div>
</div>



{
    /*
    <div class="relative w-full h-[80vh] bg-[#683292]">
    <div class="absolute md:top-[30%] left-[10%]">
        <img
            src="/asset/special/special-triangle.png"
            class="object-fill"
            alt=""
        />
    </div>
    <div class="absolute top-[62%] left-[5%]">
        <img src="/asset/special/special-doted.png" class="" alt="" />
    </div>
    <div class="absolute top-[15%] left-[20%] flex flex-col items-start">
        <h1
            class="sm:leading-[100px] w-[200px] text-white leading-[60px] font-swash mb-7 mt-7 text-[50px] sm:text-[82px]"
        >
            SUMMER SPECIAL
        </h1>
        <p class="font-medium text-white">Buy One Sundae, Get One 50% Off!</p>
        <div class="flex items-center gap-3">
            <button
                class="px-8 py-3 font-medium bg-[#F73D8E] hover:opacity-70 duration-300 transition text-white rounded-xl mt-5"
                >Get This Deal</button
            ><span class="text-white mt-4 text-sm">
                Use code: SUMMER50 at checkout.
            </span>
        </div>
        <div class="absolute top-[12%] -right-[60%]">
            <img
                src="/asset/special/Paragraph-Background.png"
                class="relative h-[128px]"
                alt=""
            />
            <img
                src="/asset/special/special-dotedarrow.png"
                class="absolute -top-[27%] -right-[50%] object-fill"
                alt=""
            />
        </div>
    </div>
    <div class="absolute top-[12%] right-0">
        <img
            src="/asset/special/special-rightimage.png.png"
            class="h-[300px]"
            alt=""
        />
    </div>
</div>

    */
}